@charset "UTF-8";
/* -- Couleurs -- */
/* Accueil */
/* -- MENUS -- */
/* informations reliées à des mixins */
/* - menu Note -*/
/* - menu Chic -*/
/* - menu Deli -*/
/* - menu Gout -*/
/*@mixin grand-ecran {
    @media(min-width:900px){
        max-width: 1200px;
    }
}*/
@media (min-width: 900px) {
  #container {
    max-width: 1500px;
    padding-bottom: 3em;
    /*& .header__titre{ 
    GROSSIR LE HEADER NE REND PAS BIEN SUR GRAND ECRAN
        height: 2em;
        font-size: 5em
    }*/
    /*& .button{
    GROSSIR LE BOUTON NE REND PAS BIEN SUR GRAND ECRAN
        font-size: 3em;
    }*/
  }
  #container main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
  }
  #container main a {
    padding: 0;
    width: 50%;
  }
  #container main a .menu {
    font-size: 0.7em;
    margin: 40px;
    height: 50vw;
    max-height: 759px;
    width: 80%;
    transition: opacity 200ms;
  }
}
@media (min-width: 900px) and (min-width: 1299px) {
  #container main a .menu {
    font-size: 1em;
  }
}
@media (min-width: 900px) {
  #container main a .menu:hover {
    opacity: 0.7;
  }
  #container main a .menu:hover h2, #container main a .menu:hover p {
    transition: transform 400ms ease;
    transform: scale(1.2);
  }
  #container main a .menu:hover i {
    transition: all 2000ms 150ms cubic-bezier(0.42, -1, 0.15, 1.53);
    transform: rotateY(-2turn) scale(1.2) translateY(-1.5vw);
  }
}
@media (min-width: 900px) {
  #container main a .note {
    font-size: 0.85em;
  }
}
@media (min-width: 900px) and (min-width: 1299px) {
  #container main a .note {
    font-size: 1.2em;
  }
}
@media (min-width: 900px) {
  #container footer {
    max-width: 1500px;
    /*& p{
    GROSSIR LE FOOTER NE REND PAS BIEN SUR GRAND ECRAN
            font-size: 2em;
        }*/
  }
}
@media (min-width: 900px) {
  #container .page {
    font-size: 1.9em;
  }
  #container .page__titre {
    font-size: 1.7em;
    margin-top: 0.5em;
  }
  #container .page article {
    padding: 90px;
  }
  #container .page__menu section .titre {
    padding: 0;
  }
  #container .page__menu section .cat__titre {
    display: flex;
    flex-direction: column;
  }
  #container .page__menu section .cat__titre--souligne {
    display: inline-block;
    margin: auto;
    border-radius: 100%;
    width: 100%;
    height: 0.2em;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 1000ms cubic-bezier(0.49, 0.18, 0.23, 1);
  }
  #container .page__menu section .cat__titre:hover > .cat__titre--souligne:nth-child(1) {
    transform: scaleX(1);
  }
  #container .page__menu .intercourse {
    padding-bottom: 1em;
  }
  #container .page__menu div .list {
    flex-direction: row;
  }
  #container .page__menu div .list__plat {
    width: 90%;
    font-size: 0.643em;
    text-align: left;
    padding-top: 0;
  }
  #container .page__menu div .list__prix {
    width: 10%;
    padding-top: 0;
    text-align: right;
    font-size: 0.7em;
  }
  #container .page .page__menuChic .titre {
    padding: 1.25em 0;
    font-size: 1.3em;
  }
  #container .page .page__menuChic .cat__titre {
    font-size: 0.7em;
    padding-top: 1.75em;
  }
  #container .page .page__menuChic .cat__titre--souligne {
    font-size: 0.2em;
  }
  #container .page .page__menuChic div {
    padding-top: 1em;
  }
  #container .page .page__menuChic div .list {
    margin: 0 auto;
    width: 80%;
  }
  #container .page .page__menuChic div .list__plat {
    font-family: "Notebook Regular.ttf";
  }
  #container .page .page__menuChic div .list__prix {
    font-family: "Notebook Regular.ttf";
  }
  #container .page .page__menuDeli .cat__titre {
    font-size: 0.7em;
    font-weight: normal;
    padding-top: 2.5em;
  }
  #container .page .page__menuDeli div .list {
    margin: 0 auto;
    width: 80%;
  }
  #container .page .page__menuDeli div .list__plat {
    font-size: 0.55em;
  }
  #container .page .page__menuGout .titre {
    font-size: 2.5em;
  }
  #container .page .page__menuGout .cat__titre {
    font-size: 0.6em;
    font-weight: normal;
    padding-top: 2.5em;
  }
  #container .page .page__menuGout .cat__titre--souligne {
    font-size: 0.2em;
  }
  #container .page .page__menuGout .intercourse {
    padding: 0;
  }
  #container .page .page__menuGout div {
    padding-top: 1em;
  }
  #container .page .page__menuGout div .list {
    margin: 0 auto;
    width: 80%;
  }
  #container .page .page__menuGout div .list__plat {
    font-size: 0.51em;
  }
}
#bgViolet {
  background-color: #A56799;
}

#bgBleu {
  background-color: #6E4CCC;
}

a {
  text-decoration: none;
}

/* Titre */
@font-face {
  font-family: "truenorg.otf";
  src: url("truenorg.otf");
}
/* Button & footer */
@font-face {
  font-family: "Typold Book 500.otf";
  src: url("Typold Book 500.otf");
}
/* Menu Note */
@font-face {
  font-family: "Devonshire-Regular.ttf";
  src: url("Devonshire-Regular.ttf");
}
@font-face {
  font-family: "SegoePrint.ttf";
  src: url("SegoePrint.ttf");
}
/* Menu Chic */
@font-face {
  font-family: "croissantone-regular.ttf";
  src: url("croissantone-regular.ttf");
}
@font-face {
  font-family: "Notebook Bold.ttf";
  src: url("Notebook Bold.ttf");
}
/* Menu Deli */
@font-face {
  font-family: "DancingScript.ttf";
  src: url("DancingScript.ttf");
}
/* Menu Gout */
@font-face {
  font-family: "KaushanScript-Regular.ttf";
  src: url("KaushanScript-Regular.ttf");
}
.button {
  display: flex;
  margin: 1em auto;
  padding-left: 1em;
  height: 2em;
  width: 12em;
  background-color: #579C87;
  color: #FDCB46;
  border-radius: 1.5vw;
  border: 0;
  box-shadow: 0;
  font-size: 1.5em;
  font-family: "Typold Book 500.otf", arial, serif;
  text-align: left;
}
.button__lien {
  padding-right: 0.5em;
  text-decoration: none;
  color: #FDCB46;
  align-self: center;
}
.button__points {
  font-size: 0.3em;
  padding: 0.5em;
  margin-top: 0.8rem;
  align-self: center;
  animation: jump-up 700ms backwards infinite ease-in-out alternate;
}
.button__points--1 {
  animation-delay: 175ms;
}
.button__points--2 {
  animation-delay: 350ms;
}
.button__points--3 {
  animation-delay: 525ms;
}

@keyframes jump-up {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.header {
  width: 100%;
  background-color: #579C87;
  text-align: center;
}
.header__titre {
  height: 2em;
  font-size: 3.5em;
  margin: 0;
  padding-top: 0.5em;
  font-weight: bold;
  font-family: "truenorg.otf", arial, serif;
}
.header__titre--lien {
  color: #FDCB46;
}

footer {
  position: fixed;
  bottom: 0;
  left: center;
  width: 100%;
  max-width: 700px;
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer p {
  margin: 0.7em;
  font-size: 1em;
  font-family: "Typold Book 500.otf", arial, serif;
}
footer p a {
  color: #FDCB46;
}
footer p:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
body {
  margin: 0 auto;
  padding-bottom: 4em;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
}

/* Appliquer le BEM : Block, Elément, Modificateur*/
/* -- MISE EN PLACE DES MENUS --*/
main a {
  padding: 5%;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 120vw;
  max-height: 53em;
  min-height: 24em;
  box-shadow: 0 0 1.75vw #E0E0E0;
}
.menu h2, .menu p, .menu i {
  margin: 0;
}

/* -- MENUS: Note / Chic / Deli / Gout -- */
/* - NOTE -*/
.note {
  background-color: #FCDFDB;
}
.note__titre {
  font-family: "Devonshire-Regular.ttf", arial, serif;
  font-size: 3em;
  color: #3C1218;
  font-weight: normal;
}
.note__texte {
  font-family: "SegoePrint.ttf", arial, serif;
  font-size: 4.5em;
  color: #3C1218;
  text-transform: uppercase;
  font-weight: bold;
}
.note i {
  font-size: 4.5em;
  background: -webkit-linear-gradient(left, #EF4B60 45%, #F6916A 55%);
  color: transparent;
  -webkit-background-clip: text;
}

/* - CHIC -*/
.chic {
  background-color: #FFF5FE;
}
.chic__titre {
  font-family: "croissantone-regular.ttf", arial, serif;
  font-size: 2.7em;
  font-weight: normal;
  padding-bottom: 2vw;
  background: -webkit-linear-gradient(280deg, #C77412 30%, #8F5BFE 60%);
  color: transparent;
  -webkit-background-clip: text;
}
.chic__texte {
  font-family: "Notebook Bold.ttf", arial, serif;
  font-size: 4.5em;
  font-weight: bolder;
  color: #C77412;
}

/* - DELI -*/
.deli {
  background-color: #EDEFEF;
}
.deli__titre {
  font-family: "DancingScript.ttf", arial, serif;
  font-size: 3.3em;
  padding-bottom: 2.5vw;
  font-weight: normal;
  background: -webkit-linear-gradient(280deg, #0022D8 30%, #0889FB 60%);
  color: transparent;
  -webkit-background-clip: text;
}
.deli__texte {
  font-family: "SegoePrint.ttf", arial, serif;
  font-size: 4.5em;
  font-weight: normal;
  color: #0889FB;
}

/* - GOUT -*/
.gout {
  background-color: #FDFFFD;
}
.gout__titre {
  font-family: "KaushanScript-Regular.ttf", arial, serif;
  font-size: 3.3em;
  padding-bottom: 2.5vw;
  font-weight: normal;
  background: -webkit-linear-gradient(280deg, #3D923A 30%, #BEFF7F 60%);
  color: transparent;
  -webkit-background-clip: text;
}
.gout__texte {
  font-family: "SegoePrint.ttf", arial, serif;
  font-size: 4.5em;
  font-weight: normal;
  color: #3D923A;
}

#docs {
  text-align: center;
  margin-top: 17vh;
  font-family: "KaushanScript-Regular.ttf", arial, serif;
  font-size: 5.5vw;
}

#maj {
  text-align: center;
  margin-top: 25vh;
  font-family: "KaushanScript-Regular.ttf", arial, serif;
  font-size: 6vw;
}

.page__titre {
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 1.5em auto 0 auto;
}
.page__menu {
  margin: 5%;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 1.75vw #E0E0E0;
}

.titre {
  padding: 2em 0;
  margin: 0;
}

.cat {
  display: flex;
  justify-content: space-between;
}
.cat__titre {
  padding: 1.5em 0.5em 0 0.5em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
.cat__trait {
  padding-top: 1.3em;
  width: 30%;
}
.cat__trait:first-child {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.cat__trait img {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style: none;
  line-height: 1.5em;
}
.list li {
  padding-top: 1.5em;
}
.list__plat {
  /*text-align: left;*/
  font-size: 0.8em;
  font-weight: lighter;
  /*width:85%;*/
}
.list__prix {
  /*text-align: right;*/
  font-weight: bold;
  font-size: 0.8em;
  /*width:15%;*/
}

.intercourse {
  padding-bottom: 2em;
}

.page__menuNote {
  background-color: #FCDFDB;
  color: #3C1218;
  font-family: "SegoePrint.ttf", arial, serif;
}

.titreNote {
  font-family: "Devonshire-Regular.ttf", arial, serif;
  font-size: 2.1em;
  font-weight: normal;
  padding: 0 0 1em 0;
}

.cat__titre--souligneNote {
  background-color: #3C1218;
}

#iconeBas {
  font-size: 2.025em;
}
#iconeHaut {
  font-size: 3.15em;
}
#iconeHaut, #iconeBas {
  background: -webkit-linear-gradient(left, #EF4B60 40%, #F6916A 80%);
  color: transparent;
  -webkit-background-clip: text;
}

#LastTitreNote {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  font-family: "Devonshire-Regular.ttf", arial, serif;
  padding-top: 1em;
}
#LastTitreNote i {
  padding: 0.2em;
}
#LastTitreNote h2 {
  padding: 0;
  font-size: 2em;
  font-weight: normal;
}

.cat .pasMiroir {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page__menuChic {
  background-color: #FFF5FE;
  color: #C77412;
  font-family: "Notebook Bold.ttf", arial, serif;
}
.page__menuChic .list__plat {
  font-size: 0.9em;
}

.titreChic {
  font-family: "croissantone-regular.ttf", arial, serif;
  font-size: 2.1em;
  font-weight: normal;
  background: -webkit-linear-gradient(280deg, #C77412 30%, #8F5BFE 60%);
  color: transparent;
  -webkit-background-clip: text;
}

.cat__titre--souligneChic {
  background-color: #C77412;
}

.page__menuChic .list__plat {
  font-family: "Notebook Regular.ttf";
}

.plat {
  color: #A56799;
}

.dessert {
  color: #6E4CCC;
}

.page__menuDeli {
  background-color: #EDEFEF;
  color: black;
  font-family: "SegoePrint.ttf", arial, serif;
}

.titreDeli {
  font-family: "DancingScript.ttf", arial, serif;
  font-size: 2.1em;
  font-weight: normal;
  background: -webkit-linear-gradient(280deg, #0022D8 30%, #0889FB 60%);
  color: transparent;
  -webkit-background-clip: text;
}

.cat__titre--souligneDeli {
  background-color: black;
}

.page__menuGout {
  background-color: #FDFFFD;
  color: black;
  font-family: "SegoePrint.ttf", arial, serif;
}

.titreGout {
  font-family: "KaushanScript-Regular.ttf", arial, serif;
  font-size: 2.1em;
  font-weight: normal;
  background: -webkit-linear-gradient(280deg, #3D923A 30%, #BEFF7F 60%);
  color: transparent;
  -webkit-background-clip: text;
}

.cat__titre--souligneGout {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
