$anim-dur: 6000ms;
$anim-delay: $anim-dur /40;

.button__points--1 {
    animation-delay: 200ms;
}
.button__points--2 {
    animation-delay: 400ms;
}
.button__points--3 {
    animation-delay: 600ms;
}


.button{
    display: flex;
    margin:2.5vw auto 14vw auto;
    padding-left: 1em;
    padding-top: 0.2em;
    height: 2em;
    width: 12em;
    background-color: $color-primary;
    color: $color-text;
    border-radius: 1.5vw;
    border:0;
    box-shadow: 0;
    font-size: 2em;
    font-family: $font-primary, arial, serif;
    text-align: left;
    &__lien{
        padding-right: 0.5em;
        text-decoration: none;
        color: $color-text;
    }
    &__points{
        font-size: 0.3em;
        padding: 0.5em;
        align-self: center;
         
        animation: jump-up1 $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
        &--3{
        animation: jump-up2 $anim-dur backwards infinite ease-in-out alternate;
            animation-delay: $anim-delay*3;
        }
          
        }
        
        /*animation: jump-up 1000ms backwards infinite ease alternate;
        */
    
}
@keyframes jump-up1{
    
    0%{
        transform: translateY(-1em);
    }
    5%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-1em);
    }
    25%{
        transform: translateY(0);
    }
    35%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-1em);
    }
    45%{
        transform: translateY(0);
    }
    55%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-1em);
    }
    65%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.5,-.25,0.5,0);
    }
    85%{
        transform: translateY(-2em) translateX(1em) ;
        animation-timing-function: cubic-bezier(.5,0,.5,1);

    }
    99%{
        transform: translateY(0) translateX(2em);
        animation-timing-function: cubic-bezier(.5,0,1,0);
    }
    100%{
        transform: translateY(-1em) translateX(2em);
    }
}
@keyframes jump-up2{
    
    0%{
        transform: translateY(-1em);
    }
    5%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-1em);
    }
    25%{
        transform: translateY(0);
    }
    35%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-1em);
    }
    45%{
        transform: translateY(0);
    }
    55%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-1em);
    }
    65%{
        transform: translateY(0);
    }
    75%{
        transform: translateX(0.5em)scale(0.8 ,1.2);
        animation-timing-function: cubic-bezier(0,-.5,.25,.75);
    }
    
    84.5%{
        transform: translateX(0) scale(1.2,0.8);
        animation-timing-function: cubic-bezier(0.25,0.75,1,1);
    }
    88.5%{
        transform: translateX(-4em) scale(1.2,0.8);
        animation-timing-function: cubic-bezier(0,0,.75,.25);
    }
   
    100%{
        transform: translateX(-4.5em) scale(0.8 ,1.2);        
        animation-timing-function: cubic-bezier(0.75,0.25,0.75,1.5);
    }

}