$anim-dur: 700ms;
$anim-delay: $anim-dur /4;

.button{
    display: flex;
    margin: auto;
    padding-left: 1em;
    height: 2em;
    width: 12em;
    background-color: $color-primary;
    color: $color-text;
    border-radius: 1.5vw;
    border:0;
    box-shadow: 0;
    font-size: 1.5em;
    font-family: $font-primary, arial, serif;
    text-align: left;
    &__lien{
        padding-right: 0.5em;
        text-decoration: none;
        color: $color-text;
         align-self: center;
    }
    &__points{
        font-size: 0.3em;
        padding: 0.5em;
        align-self: center;
         
        animation: jump-up $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    } 
}

@keyframes jump-up{
    
    0%{
        transform: translateY(-1em);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
   