footer{
    position: fixed;
    bottom: 0;
    left:auto;
    width: 100%;
    max-width: 700px;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    text-align: center;
    & p{
        margin: 0.7em;
        font-size: 1em;
        font-family: $font-primary, arial, serif;
        & a{
        color: $color-text;
        }
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 3;
        }
    }
}
$shake-intensity: 2%;
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
}