footer{
    position: fixed;
    bottom: 0;
    left: center;
    width: 100%;
    max-width: 1000px;
    min-width: 600px;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    height: 3em;
    & p{
        margin: auto 2.5vh;
        font-family: font-primary;
        font-size: 1.5em;
        font-family: $font-primary, arial, serif;
        & a{
        text-decoration: none;
        color: $color-text;
        }
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 3;
        }
    }
}
$shake-intensity: 2%;
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
}