.header{
    width:100%;
    background-color:$color-primary;
    text-align: center;
    &__titre{ 
        height:2em;
        font-size:3.5em ;
        margin: 0;
        padding-top: 0.5em;
        font-weight: bold;
        font-family: $font-titre, arial, serif;
        &--lien{
            color: $color-text;
            }
    }
}