/* Titre */
@font-face{
    font-family: 'truenorg.otf';
    src: url('truenorg.otf');
}

/* Button & footer */
@font-face{
    font-family: 'Typold Book 500.otf';
    src: url('Typold Book 500.otf');
}

/* Menu Note */
@font-face{
    font-family: 'Devonshire-Regular.ttf';
    src: url('Devonshire-Regular.ttf');
}
@font-face{
    font-family: 'SegoePrint.ttf';
    src: url('SegoePrint.ttf');
}
/* Menu Chic */
@font-face{
    font-family: 'croissantone-regular.ttf';
    src: url('croissantone-regular.ttf');
}
@font-face{
    font-family: 'Notebook Bold.ttf';
    src: url('Notebook Bold.ttf');
}

/* Menu Deli */
@font-face{
    font-family: 'DancingScript.ttf';
    src: url('DancingScript.ttf');
}

/* Menu Gout */
@font-face{
    font-family: 'KaushanScript-Regular.ttf';
    src: url('KaushanScript-Regular.ttf');
}

