/* Appliquer le BEM : Block, Elément, Modificateur*/


/* -- MISE EN PLACE DES MENUS --*/

main a{
    padding: 5%;
    font-size: 1em;
    display: flex;//mise en blocks pour activer le padding des liens
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:120vw;
    max-height:53em ;
    min-height: 24em;
    box-shadow: 0 0 1.75vw $color-shadow;

    & h2,& p,& i{
        margin: 0;
    }
}




/* -- MENUS: Note / Chic / Deli / Gout -- */

/* - NOTE -*/
.note{
    background-color: $color-bgMenuNote;
    &__titre{
       
        font-family: $font-titreMenuNote, arial, serif;
        font-size: $fontSize-titreMenu;
        color:$color-txtMenuNote;
        font-weight: normal;
    }
    &__texte{
        
        font-family: $font-txtMenuNote, arial, serif;
        font-size: $fontSize-txtMenu;
        color:$color-txtMenuNote;
        text-transform: uppercase;
        font-weight: bold;
    }
    & i{
        font-size: $fontSize-iconeMenuNote;
        background: -webkit-linear-gradient( left, $color-iconeMenuNote 45% , $color-iconeMenuNote2 55%);
        color: transparent;
        -webkit-background-clip: text;
    }
}

/* - CHIC -*/
.chic{
    background-color: $color-bgMenuChic;
    &__titre{
        font-family: $font-titreMenuChic, arial, serif;
        font-size: $fontSize-titreMenu*0.9;
        font-weight: normal;
        padding-bottom: 2vw;
        
        background: -webkit-linear-gradient( 280deg, $color-txtMenuChic 30% , $color-txtMenuChic2 60%);
        color: transparent;
        -webkit-background-clip: text;
    }
    &__texte{
        font-family: $font-txtMenuChic, arial, serif;
        font-size: $fontSize-txtMenu;
        font-weight: bolder;
        color:$color-txtMenuChic;
    }
}
/* - DELI -*/
.deli{
    background-color: $color-bgMenuDeli;
    &__titre{
        font-family: $font-titreMenuDeli, arial, serif;
        font-size: $fontSize-titreMenu+1.1;
        padding-bottom: 2.5vw; 
        font-weight: normal;
        
        background: -webkit-linear-gradient( 280deg, $color-txtMenuDeli 30% , $color-txtMenuDeli2 60%);
        color: transparent;
        -webkit-background-clip: text;
    }
    &__texte{
        font-family: $font-txtMenuDeli, arial, serif;
        font-size: $fontSize-txtMenu;
        font-weight: normal;
        color:$color-txtMenuDeli2;
    }
}
/* - GOUT -*/
.gout{
    background-color: $color-bgMenuGout;
    &__titre{
        font-family: $font-titreMenuGout, arial, serif;
        font-size: $fontSize-titreMenu*1.1; 
        padding-bottom: 2.5vw; 
        font-weight: normal;
        
        background: -webkit-linear-gradient( 280deg, $color-txtMenuGout 30% , $color-txtMenuGout2 60%);
        color: transparent;
        -webkit-background-clip: text;
    }
    &__texte{
        font-family: $font-txtMenuGout, arial, serif;
        font-size: $fontSize-txtMenu;
        font-weight: normal;
        color:$color-txtMenuGout;
    }
}
