.page__menuChic{
    background-color: $color-bgMenuChic;
    color:$color-txtMenuChic;
    font-family: $font-txtMenuChic, arial, serif;
    & .list__plat{
        font-size: 0.9em;
    }
}
.titreChic{
    font-family: $font-titreMenuChic, arial, serif;
    font-size: $fontSize-titreMenu*.7;
    font-weight: normal;
    background: -webkit-linear-gradient( 280deg, $color-txtMenuChic 30% , $color-txtMenuChic2 60%);
    color: transparent;
    -webkit-background-clip: text;
}

.cat{
    &__titre--souligneChic{
    background-color:$color-txtMenuChic;
    }
}
.page__menuChic .list__plat{
    font-family: 'Notebook Regular.ttf'
}
.plat{
    color:#A56799;
}
.dessert{
    color:#6E4CCC;
}