.page__menuDeli{
    background-color: $color-bgMenuDeli;
    color:$color-txtMenuDeli;
    font-family: $font-txtMenuDeli, arial, serif;
}
.titreChic{
    font-family: $font-titreMenuDeli, arial, serif;
    font-size: $fontSize-titreMenu*.7;
    font-weight: normal;
    background: -webkit-linear-gradient( 280deg, $color-txtMenuDeli 30% , $color-txtMenuDeli2 60%);
    color: transparent;
    -webkit-background-clip: text;
}
.cat{
    &__titre--souligneChic{
    background-color:$color-txtMenuDeli;
    }
}
