
.page{
    padding:2.5em 3.5em 5.5em 3.5em;
    background-color: $color-bgMenuNote;
    color:$color-txtMenuNote;
    text-align: center;
    font-family: $font-txtMenuNote, arial, serif;
    .section__list{    //séparation plat/prix
        display: flex;
        justify-content: center;        
    }
    .titre{  //nom du menu
        margin: 0;
        font-size: 2.5em;
    }
    i{
    font-size: $fontSize-iconeMenuNote;
    
    background: -webkit-linear-gradient( left, $color-iconeMenuNote 45% , $color-iconeMenuNote2 55%);
    color: transparent;
    -webkit-background-clip: text;
    
}

    section:last-child{ //nom du menu à la fin
        display: flex;  //icone à gauche au lieu d'au-dessus
        justify-content: center;
        font-size: 0.7em;
        padding-top: 1em;
        i{
            padding: 0.2em;
        }
    }
}
.titre{
    font-family: $font-titreMenuNote, arial, serif;
    font-size: $fontSize-titreMenuNote;
    font-weight: normal;
    padding: 0;
}
.cat{
    display: flex;
    justify-content:space-between;
    &__titre{
        padding-top: 1.5em;
        
        font-size: 1em;
        font-weight: bold;
        margin:0;
        display: flex;
        flex-direction: column;
        &--souligne{
            display: inline-block;
            margin: auto;
            border-radius: 100%;
            width: 10em;
            height: 0.2em;
            background-color:$color-txtMenuNote;
            transform: scaleX(0);
            transform-origin: 0 ;//la barre part de la gauche 
            transition: transform 1000ms cubic-bezier(.49,.18,.23,1);
            }
        &:hover{
            & > .cat__titre--souligne:nth-child(1){
                 transform: scaleX(1);
                }
        }
    }
    &__trait{ //déco autour des titres de catégories
        padding-top: 1.5em;
        width:30%;
        img{
            width: 100%;
        }
    }
}
.list {
    &:nth-child(1){
        width:90%
    }
    &:nth-child(2){
        width:10%
    }
    line-height: 2em;
    padding: 0;
    list-style: none;
    &__plat{
        text-align: left;
        font-size: 0.75em;
    }
    &__prix{
        text-align: right;
        font-weight: bold;
        font-size: 0.8em;
    }
    
}




