
.page__menuNote{
    background-color: $color-bgMenuNote;
    color:$color-txtMenuNote;
    font-family: $font-txtMenuNote, arial, serif;
}
.titreNote{
    font-family: $font-titreMenuNote, arial, serif;
    font-size: $fontSize-titreMenu*.7;
    font-weight: normal;
    padding: 0 0 1em 0;
}
.cat__titre--souligneNote{
    background-color:$color-txtMenuNote;
}

#icone{
    &Bas{
        font-size: $fontSize-iconeMenuNote*.45;
    }
    &Haut{
        font-size: $fontSize-iconeMenuNote*.7;
    }
    &Haut,&Bas{
        background: -webkit-linear-gradient( left, $color-iconeMenuNote 40% , $color-iconeMenuNote2 80%);
        color: transparent;
        -webkit-background-clip: text;
    }
}
#LastTitreNote{ //titre du menu à la fin
    display: flex;  //icone à gauche au lieu d'au-dessus
    justify-content: center;
    font-size: 0.7em;  
    padding-top: 1em;
        & i{
            padding: 0.2em;
        }
        & h2{
            padding: 0;
    }
}
.cat .pasMiroir{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}