/* -- Couleurs -- */

$vertDeGris:#579C87;
$jaune:#FDCB46;
$marron:#3C1218;
$blcPeche:#FCDFDB;
$blc1:#FFF5FE;
$moutarde:#C77412;
$blc2:#EDEFEF;
$bleuMarine:#0022D8;
$bleu:#0889FB;
$blc3:#FDFFFD;
$vert:#3D923A;
$vertPale:#BEFF7F;
$grisClair:#E0E0E0;
$corail:#EF4B60;
$orange:#F6916A;
$violet:#8F5BFE;





/* Accueil */

$color-primary: $vertDeGris;
$color-text: $jaune;

$font-titre: 'truenorg.otf';
$font-primary: 'Typold Book 500.otf';


/* -- MENUS -- */

$color-shadow: $grisClair;

/* informations reliées à des mixins */

$fontSize-txtMenu:4.5em;
$fontSize-titreMenu:3em;
    
/* - menu Note -*/
$color-bgMenuNote: $blcPeche;
$color-txtMenuNote: $marron;

$font-titreMenuNote: 'Devonshire-Regular.ttf';
$font-txtMenuNote: 'SegoePrint.ttf';


$color-iconeMenuNote: $corail;
$color-iconeMenuNote2: $orange;
$fontSize-iconeMenuNote: 4.5em;

/* - menu Chic -*/
$color-bgMenuChic: $blc1;
$color-txtMenuChic: $moutarde;
$color-txtMenuChic2: $violet;

$font-titreMenuChic: 'croissantone-regular.ttf';
$font-txtMenuChic: 'Notebook Bold.ttf';


/* - menu Deli -*/
$color-bgMenuDeli: $blc2;
$color-txtMenuDeli: $bleuMarine;
$color-txtMenuDeli2: $bleu;

$font-titreMenuDeli: 'DancingScript.ttf';
$font-txtMenuDeli: 'SegoePrint.ttf';


/* - menu Gout -*/
$color-bgMenuGout: $blc3;
$color-txtMenuGout: $vert;
$color-txtMenuGout2: $vertPale;

$font-titreMenuGout: 'KaushanScript-Regular.ttf';
$font-txtMenuGout: 'SegoePrint.ttf';


